	<h1><%= @restaurant.name %></h1>

<!-- 	<img scr= <%#= cl_image_tag(@restaurant.image_url) %>
	<img scr= <%#= cl_image_tag(@restaurant.image2_url) %>
	<img scr= <%#= cl_image_tag(@restaurant.image3_url) %> -->




	<% @menuitems.each do |item| %>
	<%= item.item %>
	<%= link_to 'Edit', edit_restaurant_menu_item_path(@restaurant, item) %>
	<%= link_to 'Delete', restaurant_menu_item_path(@restaurant, item) %>

	<% end %>
